{% extends 'base.html' %}
{% load embed_video_tags %}
{% block page_content %}
<strong>News</strong>
<div class="row">
<!-- {% for news in object_list %}
<div class="col-md-8">
	<div class="card" style="width:18rem;">
		
		<img class="card-img-top" src="{{news.image}}" alt="">
		<div class="card-body">
			<a href="{{ news.url }}">{{news.title}}</a>
		</div>

	</div>



</div>
{% endfor %} -->
<div class="col-md-5">
	<ul class="list-group list-group-flush">
	   	{% for news in object_list %}
	   	<li class="list-group-item"><a href="{{news.url}}" >{{news.title}}</a></li>
	   	{% endfor %}

	</ul>
</div>

</div>
{% endblock %}