{% extends 'base.html' %}
{% load embed_video_tags %}
{% block page_content %}
<h3 class="mb-3">Videos by - {{view.kwargs.username }}</h3>
<div class="row">
{% for video in videos %}

	<div class='col-md-6'>
		<img src="{{object.poster.profile.image.url}}" alt="">
		<div class="video-title">
			<a href="{{ video.get_absolute_url }}">{{video.title}}</a>
		</div>
	
	<p class="text-muted">By <a href="{% url 'user-videos' video.poster.username %}"> {{video.poster}}</a></p>
	<div class="videos">
	{% video video.link %}
	</div>
	<!-- <p class="vid_description">{{video.description}}</p> -->
	
	</div>
{% endfor %}
</div>

{% endblock %}